{% extends 'base.html.twig' %}

{% block title %}New Language{% endblock %}

{% block content %}
    <h1>Ajouter une nouvelle langue</h1>

    {{ include('language/_form.html.twig') }}

   
{% endblock %}
