{% extends 'base.html.twig' %}

{% block title %}Add New Category{% endblock %}

{% block content %}
    <h1>Ajouter une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

{% endblock %}
