      <li class="relative flex flex-col rounded-xl overflow-hidden aspect-square border">
                            <a href=  class="p-2.5 bg-gray-800/90 rounded-lg text-white self-end hover:bg-red-600/80 absolute top-2 right-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor" data-darkreader-inline-fill="" style="--darkreader-inline-fill: currentColor;">
                                    <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd"></path>
                                </svg>
                            </a>
                            <img src="{{ mediaItem.coverImage }}" class="h-4/5 object-cover w-full" alt="{{ mediaItem.title }}">
                            <div class="w-full h-full bg-white px-3 flex items-center justify-between border-t-2 border-t-red-600">
                                <span class="capitalize font-medium pr-2">
                                    <span class="text-red-600 font-bold">#1</span>
                                    <a class="text-inherit hover:text-red-600">{{ mediaItem.title }}</a>
                                    <span class="opacity-40 text-xs">({{ mediaItem.releaseDate|date("Y") }})</span>
                                </span>
                            </div>
                        </li>